In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [38]:
df = pd.read_csv('datasets/bollywood_movies_dataset.csv')

In [40]:
df.head()

,Movie Name,Release Period,Whether Remake,Whether Franchise,Genre,New Actor,New Director,New Music Director,Lead Star,Director,Music Director,Number of Screens,Revenue(INR),Budget(INR)
0,Golden Boys,Normal,0,0,suspense,1,0,0,Jeet Goswami,Ravi Varma,Baba Jagirdar,5,5000000,85000
1,Kaccha Limboo,Holiday,0,0,drama,1,0,1,Karan Bhanushali,Sagar Ballary,Amardeep Nijjer,75,15000000,825000
2,Not A Love Story,Holiday,0,0,thriller,0,0,0,Mahie Gill,Ram Gopal Verma,Sandeep Chowta,525,75000000,56700000
3,Qaidi Band,Holiday,0,0,drama,1,0,0,Aadar Jain,Habib Faisal,Amit Trivedi,800,210000000,4500000
4,Chaatwali,Holiday,0,0,adult,1,1,1,Aadil Khan,Aadil Khan,Babloo Ustad,1,1000000,1075000

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1698 entries, 0 to 1697
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Movie Name          1698 non-null   object
 1   Release Period      1698 non-null   object
 2   Whether Remake      0 non-null      float64
 3   Whether Franchise   0 non-null      float64
 4   Genre               1698 non-null   object
 5   New Actor           0 non-null      float64
 6   New Director        1698 non-null   int64
 7   New Music Director  0 non-null      float64
 8   Lead Star           1698 non-null   object
 9   Director            1698 non-null   object
 10  Music Director      1698 non-null   object
 11  Number of Screens   1698 non-null   int64
 12  Revenue(INR)        1698 non-null   int64
 13  Budget(INR)         1698 non-null   int64
dtypes: float64(4), int64(4), object(6)
memory usage: 185.8+ KB

In [42]:
df['Genre']

0       suspense
1          drama
2       thriller
3          drama
4          adult
          ...
1693      action
1694       drama
1695       drama
1696       drama
1697      comedy
Name: Genre, Length: 1698, dtype: object

In [41]:
df.groupby('Whether Remake').count()
df.groupby('Genre').count()

,Movie Name,Release Period,Whether Remake,Whether Franchise,New Actor,New Director,New Music Director,Lead Star,Director,Music Director,Number of Screens,Revenue(INR),Budget(INR)
Genre,,,,,,,,,,,,,
action,127,127,127,127,127,127,127,127,127,127,127,127,127
adult,78,78,78,78,78,78,78,78,78,78,78,78,78
animation,3,3,3,3,3,3,3,3,3,3,3,3,3
comedy,284,284,284,284,284,284,284,284,284,284,284,284,284
documentary,1,1,1,1,1,1,1,1,1,1,1,1,1
drama,639,639,639,639,639,639,639,639,639,639,639,639,639
fantasy,13,13,13,13,13,13,13,13,13,13,13,13,13
horror,53,53,53,53,53,53,53,53,53,53,53,53,53
love_story,133,133,133,133,133,133,133,133,133,133,133,133,133
masala,16,16,16,16,16,16,16,16,16,16,16,16,16
mythological,14,14,14,14,14,14,14,14,14,14,14,14,14
rom__com,95,95,95,95,95,95,95,95,95,95,95,95,95
suspense,30,30,30,30,30,30,30,30,30,30,30,30,30
thriller,212,212,212,212,212,212,212,212,212,212,212,212,212

In [39]:
df['Whether Remake'] = df['Whether Remake'].map({'Yes': 1, 'No': 0})
df['Whether Franchise'] = df['Whether Franchise'].map({'Yes': 1, 'No': 0})
df['New Actor'] = df['New Actor'].map({'Yes': 1, 'No': 0})
df['New Music Director'] = df['New Music Director'].map({'Yes': 1, 'No': 0})
df['New Director'] = df['New Director'].map({'Yes': 1, 'No': 0})

In [11]:
plt.bar(df['Genre'])

TypeError: bar() missing 1 required positional argument: 'height'